/*** BASE ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Styles */
html {
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  position: relative;
}

body {
  font-family: sans-serif;
  color: #000;
}

h1,
h2 {
  font-size: 3.5vw;
  line-height: 4vw;
  font-weight: normal;
  margin: 0 0 3.5vw 0;
}

p {
  font-size: 1.75vw;
  line-height: 2.25vw;
  margin: 0 0 1.75vw 0;
}

h2 a {
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid #000;
}

h2 a:hover {
  color: blue;
  border-bottom: 3px solid blue;
}

/* scroll */
.scroll-to {
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
  bottom: 3vw;
  height: 4vw;
  width: 4vw;
}

svg path {
  fill: #000;
  transition: fill 0.1s;
}

svg:hover path {
  fill: blue;
}

/* two columns */
.two-col-wrapper {
  display: flex;
  justify-content: space-between;
}

.left-1,
.right-1 {
  flex: 1;
  margin: 8px 0 0 0;
  padding: 3vw;
  max-width: 960px;
}

.right-2,
.left-2 {
  flex: 2;
  margin: 8px 0 0 0;
  padding: 3vw;
  max-width: 960px;
}

/* progress */
div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 8px;
  background-color: #000;
  z-index: 999;
}

/* slides */
div.slides {
  position: relative;
  aspect-ratio: 3 / 2;
}

div.slides img {
  position: absolute;
  top: 0;
  left: 0;
}

div.slides img:first-child {
  z-index: 1;
}

.slide {
  cursor: e-resize;
}

/* alt ratios */
.twentyonetonine {
  aspect-ratio: 21 / 9 !important;
}

.sixteentonine {
  aspect-ratio: 16 / 9 !important;
}

.onepointsixsix {
  aspect-ratio: 1.66 / 1 !important;
}

/* RESPONSIVE */
/* extrawide */
@media (min-width: 1800px) {
  .left-1,
  .right-1,
  .right-2,
  .left-2 {
    padding: 56px;
  }
  h1,
  h2 {
    font-size: 63px;
    line-height: 72px;
    margin: 0 0 63px 0;
  }
  p {
    font-size: 31.5px;
    line-height: 40.5px;
    margin: 0 0 31.5px 0;
  }
  .scroll-to {
    bottom: 56px;
    height: 74px;
    width: 74px;
  }
}

/* small */
@media (max-width: 750px) {
  .two-col-wrapper {
    display: block;
    padding: 4vw;
  }
  h1,
  h2 {
    font-size: 7vw;
    line-height: 9vw;
    margin: 0 0 7vw 0;
  }
  p {
    font-size: 3.5vw;
    line-height: 4.5vw;
    margin: 0 0 3.5vw 0;
  }
  .scroll-to {
    bottom: 4vw;
    height: 6.5vw;
    width: 6.5vw;
  }
}
